@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 175 48% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 175 48% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 175 48% 95%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 178 21% 44%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 176 30% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 176 30% 85%;
    --muted-foreground: 225.2 30.5% 43.1%;
    --accent: 128 32% 68%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 355.7 100% 97.3%;
    --border: 178 20% 74%;
    --input: 178 20% 84%;
    --ring: 178 21% 44%;
    --chart-1: 178 21% 44%;
    --chart-2: 128 32% 68%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 180 15% 96%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 178 21% 44%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 175 48% 91%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 178 21% 44%;
    --purple: 178 21% 44%;
    --purple-foreground: 355.7 100% 97.3%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 178 21% 54%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 128 32% 68%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 178 21% 54%;
    --chart-1: 178 21% 54%;
    --chart-2: 128 32% 68%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 178 21% 54%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 178 21% 54%;
    --purple: 178 21% 54%;
    --purple-foreground: 222.2 47.4% 11.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .parallax > use {
    animation: wave 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes wave {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
}
